.App {
  text-align: center;
  width: 700px;
  height: 800px;
}

.title {
  padding-left: 120px;
  font-size: 40px;
}

.intro {
  color: white;
  padding-left: 120px;
  font-size: 25px;
}

.linechart {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  grid-template-rows: 70% 10% 10% 10%;
  height: 600px;
  width: 700px;
}

.chart {
  grid-column: 3;
  grid-row: 1 / 2;
}

.day.axis {
  grid-row: 2;
  grid-column: 3;
  color: white;
  font-size: 20px;
}

.moisture.axis p {
  transform: rotate(-90deg);
  width: 100px;
}

.moisture.axis {
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  color: white;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  padding: 0.5em;
  max-width: 100%;
}

g .line {
  stroke: #ffffff;
}

.areaChart .area {
  opacity: 0.5 !important;
}

.areaChart {
  background-color: black;
}

.x.axis .tick line {
  stroke: transparent !important;
}

.x.axis:nth-child(8) line {
  stroke: crimson !important;
}

.x.axis .tick:last-of-type line {
  stroke: black !important;
}

.x.axis .tick:first-of-type line {
  stroke: black !important;
}

.x.axis .tick circle.tick-circle {
  fill: transparent;
}

.x.axis .tick text {
  fill: white;
  font-size: 12px;
}

.y.axis .tick line {
  stroke: white;
}

.y.axis .tick:first-of-type line {
  stroke: black !important;
}

.y.axis .tick text {
  fill: white;
  font-size: 12px;
}

.y.axis .tick:nth-of-type(8) line {
  stroke: #ef1919 !important;
  z-index: 999;
  stroke-width: 0.3em;
}

circle.data-point {
  fill: darkorange !important;
}