.App {
  text-align: center;
  display: grid;
}

.title {
  color: white;
}

.axis {
  color: white;
}

.intro {
  color: white;
}

.linechart {
  display: inline-block;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linechart {
  padding: 0px;
}

svg {
  padding: 0.5em;
}

g .line {
  stroke: #ffffff;
}

.areaChart .area {
  opacity: 1 !important;
}

.x.axis .tick line {
  stroke: transparent !important;
}

.x.axis .tick:last-of-type line {
  stroke: black !important;
}

.x.axis .tick:first-of-type line {
  stroke: black !important;
}

.x.axis .tick circle.tick-circle {
  fill: transparent;
}

.y.axis .tick line {
  stroke: white !important;
}

.y.axis .tick:first-of-type line {
  stroke: black !important;
}

.y.axis .tick text {
  fill: white;
  font-size: 15px;
}

.x.axis .tick text {
  fill: white;
  font-size: 10px;
}

circle.data-point {
  fill: darkorange !important;
}