html {
  height: 100%;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('./many-leaves-unsplash2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-width: 100%;
}

img {
  filter: blur(20px);
}